.container{
    display: flex;
    flex-direction: column;
    margin: 1%;
}

.pokemonContainer{
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.pokemonCard{
    background-color: coral;
}

.pagination{
    display: flex;
    flex: 1;
    width: 100%;
    margin-top: 2%;
}